@{
    ViewData["Title"] = "Home Page";
    // var students = ViewBag.MyStudents;
}

@* <style>
    table,th,td{
        border:2px solid maroon;
        padding: 5px;
    }
    td{
        color:indigo;
    }
    th{
        color: dodgerblue;
    }
</style> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* <table>
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Standard</th>
        </tr>
    </thead>
    @{
        foreach (var i in students)
        {
            <tr>
                <td>@i.Rollno</td>
                <td>@i.Name</td>
                <td>@i.Gender</td>
                <td>@i.Standard</td>
            </tr>
        }

    }
</table> *@